*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Menu de Navegação */
#navbar{
    width: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    height: 80px;
    border-bottom: 1px solid rgb(114, 114, 114) ;
}
#navbar-container{
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#btn-menu{
    margin-left: 40px;
    display: none;
    font-size: 30px;
    color: #5b73a0;
    cursor: pointer;
}
#check{
     display: none;   
}
#navbar-itens{
    display: flex;
    list-style: none;
    text-decoration: none;
}
#navbar-itens li{
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #5b73a0;
    border-radius: 10px ;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}
#navbar-itens li:hover{
    cursor: pointer;
    background-color: #8097c2
}
#navbar.active{
    left:0;
}

/* Formulario */

    .formulario{
        position: relative;
        width:100%;
        margin: auto;
        height: 100vh;
    }
    .form-container{
        width: 50%;
        margin: auto;
        height: calc(100vh - 30px) ;
        padding: 15px;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .form-item{
        height: 100%;
        position: relative;
        display: block;
    }
    fieldset{
        position: relative;
        width: 100%;
        background-color: #5b73a041;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        border: 3px solid #5b73a0;
    }
    legend{
        border:3px solid #5b73a0;
        padding: 10px;
        text-align: center;
        background-color: #5b73a0;
        border-radius: 5px;
        color: #ffffff;
    }
    .itens {
        width: 70%;
        position: relative;
    }    
    .itens input {
        background: none;
        border: none;
        border-bottom: 1px solid #5b73a0;
        border-right:1px solid #5b73a0;
        border-radius: 7px;
        outline: none;
        font-size: 16px;
        width: 100%;
        letter-spacing: 2px;
    }
    .itens small {
        visibility: hidden;
        
        margin-top: 5px;
        font-size: 14px;
    }
    .form-item .botao {
        background-color: #6C63FF;
        border-radius: 5px;
        color: #fff;
        padding: 15px;
        font-size: 15px;
        font-weight: 600;
        width: 200px;
        margin: auto;
        border: 0;    
        margin-top: 5px;
        cursor: pointer;
    }
    
    .form .botao:hover {
        background-color: #584ff5;
        transition: 0.3s;
    }

    /* validação formularios */



    .itens.success input{
        border-bottom: 2px solid rgb(0, 255, 42);
        border-right: 2px solid rgb(0, 255, 42);
    }
    .itens.error input{
        border-bottom: 2px solid red;
        border-right: 2px solid red;
    }
    .itens.error small{
        color: red;
        visibility: visible;
    } 



    /* footer */
    .footer{
        position: absolute;
        background: #111;
        width: 100vw;
        height: 80px;
        padding-top: 40px;
        left: 0;
        right: 0;
        margin-top: 250px;
        color: #fff; 
        
    }
     .footer-container{
            width: 80%;
            height: 100%;
            margin:auto;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
        }
    .footer h1{
        font-size: 16px;
    }
    


/* Responsivo */

@media(max-width: 600px){
     #navbar-itens{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #5b73a0;
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all .5;
        display: flex;
        flex-direction: column;
        transition: all 300ms ease; 
    }
    #navbar-itens li{
        display: block;
        padding: 20px;
        border-bottom: 1px solid rgb(255, 255, 255);
     }
    #btn-menu{
        display: block;
    }    
}